{% extends 'frankiesapp/base.html' %}
{% load static %}

                {% block content %}
                <div>
                    <a onclick="window.history.go(-1); return false;"><button class="btn btn-secondary">Cancel</button></a>
                </div>
                {% if message == "Product added successfully" %}
                    <p class="mt-3 alert alert-success"> {{message}}</p>
                {% elif message != None %}
                    <p class="mt-3 alert alert-danger"> An error occured: {{message}}</p>
                {% endif %}
                <div class="card w-75">
                    <form action="{% url 'add_product' %}" method="post">
                <div class="card-header">
                    <h1>Add Product</h1>
                </div>
                <form method="POST" action="{% url 'add_product' %}" style="padding-left: 10; padding-right: 10;">{% csrf_token %}
                    <div class="d-flex flex-column flex-fill">
                        <label for="">Product ID:</label><br>
                        <input name="product_id" type="text" class="form-control" style="max-width:200px" required=""><br>
                    </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Name:</label><br>
                    <input name="product_name" type="text" style="max-width:200px" required=""><br>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Description:</label><br>
                    <textarea name="product_description" type="text" style="max-width:200px" required=""></textarea><br>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Image:</label><br>
                    <input name="product_image" type="file" required="">
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Materials Used:</label><br>
                    <select class="multiple" name="product_materialsused" class="form-select" required="" style="padding-right: 10px">
                        {% for material in materials %}
                            <option value="{{material.id}}">{{material.name}}</option>
                        {% endfor %} 
                        <option value="wat" name="product_materialsused">1</option> <input name="quantity" type="number" style="margin-left: 5px">pcs</input>
                    </select>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Collection:</label><br>
                    <select name="product_type" class="form-select" required="">
                        <option value="Bracelet">Bracelet</option>
                        <option value="Necklace">Necklace</option>
                    </select>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Quantity:</label><br>
                    <input name="product_quantity" type="number" style="max-width:200px" required="">
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Price:</label><br>
                    <input name="product_unitprice" type="number" style="max-width:200px" required=""></input>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Type:</label><br>
                    <select name="product_type" class="form-select" required="">
                            <option value="Customizable">Customizable</option>
                            <option value="Default">Not customizable</option>
                    </select>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <label for="">Product Visibility:</label>
                    <label style="padding-right: 5px">Invisible</label><label class="switch" display=""><input check="checked" type="checkbox" name="product_visibility" value="True"><span class="slider round"></span></label><label style="padding-left: 5px">Visible</label>
                </div>
                <div class="d-flex flex-column flex-fill" style="padding-top: 5px;">
                    <label for="">Product Colors:</label><br><br>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 1</label>
                        <input type="color" id="color1" name="product_colors" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 2</label>
                        <input type="color" id="color2" name="product_colors2" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 3</label>
                        <input type="color" id="color3" name="product_colors3" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 4</label>
                        <input type="color" id="color4" name="product_colors4" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 5</label>
                        <input type="color" id="color5" name="product_colors5" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 6</label>
                        <input type="color" id="color6" name="product_colors6" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 7</label>
                        <input type="color" id="color7" name="product_colors7" value="#ff0000">
                    </box>
                    <box style=" background-color: rgb(255, 255, 255); width: 30px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 10px;">
                        <label>Color 8</label>
                        <input type="color" id="color8" name="product_colors8" value="#ff0000">
                    </box>
                </div><br>
                <input type="hidden" name="message" value="Product created successfully">

                <a href="{% url 'add_product' %}"><button class="btn btn-secondary my-4">Add Product</button></a>
                </form>
                {% endblock %}