{% extends 'frankiesapp/base.html' %}
{% load static %}
 
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="col main" style="padding-top:20px;">
    <div class="row">
        <div class="col-9 justify-content-start"><h2 id="mainlabel">FRANKIE'S IN STYLE PRODUCTS</h2></div>
        <div class="col-3">
            <nav class="nav nav-fill justify-content-end">
                <a class="nav-link" href="{% url 'add_product' %}">
                    <button type="button" class="btn btn-custom" id="buttonmain">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                        Add Product</button>
                </a>
            </nav>
        </div>
    <table class="table table-striped rowNumbers" style="counter-reset: step; position:relative">
        <thead id="tablehead" class="thead-custom" >
            <tr>
                <td></td>
                <td>Image</td>
                <td>Name</td>
                <td>Price</td>
                <td>Availability</td>
                <td>Show Product</td>
                <td></td>
            </tr>
        </thead>
        <tbody >
            {% for x in product %}
            <tr>
                <td></td>
                <td> <img src="{{x.product_image}}"> </td>
                <td>{{x.product_name}}</td>
                <td>PHP {{x.product_unitprice}}</td>
                {% if product_quantity %}
                <td>Available</td> 
                {% else %}
                <td>Unavailable</td>
                {%endif%}
                <td>{{x.product_visibility}}</td>
                <td><button type="button" class="btn btn-danger" id="myBtn">Danger</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h3 style="text-align:center; color:red; background-color: bisque;">WARNING</h3>
          <p style="text-align:center;">Are you sure you'd like to delete</p>
          <p style="text-align:center; color:red;">THE HYACINTH</p>
          <center><button id="myBtnYes">Yes</button>
          <button id="myBtnNo">No</button></center>
        </div>
      
      </div>
      
      
      <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the button "No" closes the modal
      var btnno = document.getElementById("myBtnNo");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      //When the user clicks "No"
      btnno.onclick = function() {
          modal.style.display = "none";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
</div>

{% endblock %}
    