{% extends 'frankiesapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product Collection</title>
</head>
<body>
    {% block content %}
    <div class="row">
        {{message}}
    </div>
    <div class="row">
        <!-- FORM -->
        <form action="{% url 'update_productcollection' pc.pk %}" method = "POST"> {% csrf_token %}
            <!-- COLLECTION  -->
            <div class="row">
                <h3>Update a Collection</h3>
            </div>
            <div class="row">
                <input type="text" value="{{ pc.productcollection_name }}" name="updateproductcollection" id="updateproductcollection">
                <input type="submit" value="Update" class="btn">
                <a onclick="window.history.go(-1); return false;"><button class="btn">Cancel</button></a>
            </div>
            
            
        </form>
    </div>
{% endblock %}
</body>
</html>