{% extends 'frankiesapp/base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<div class = "row">
    <div class="col-3">
        <h2> Products </h2>
    </div>

    <div class="col-3 justify-content-left">
        <h1> Bracelets </h1>
    </div>

</div>

<div class="row">

    <div class="col-3"> 
        <ul class="nav flex-column">
            {% for p in product_collection %} 
            <li class="nav-item">
                <h5><a class="nav-link" href=""> {{p.productcollection_name}} </a></h5>
            </li>
        
            {% endfor %}
        </ul>
    </div>
    
    <div class="col-3">
        {% for p in products %} 
        <div class="card" style="width: 18rem;">

            <!-- <div class="card-block stretched-link text-decoration-none" href="#"> -->
                <img src = "{{p.product_image.url}}" class="card-img-top w-100" /> 
                <div class="card-body">
                    <a href="{% url 'view_productdetails' pk=p.pk %}" class="card-link">
                        <h5>{{p.product_name}}</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">₱ {{p.product_unitprice}} </h6>
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'view_productdetails' pk=p.pk %}" class="btn-sm btn-primary">Customize</a>
                </div>
                
            <!-- </div> -->

        </div>
        {% endfor %}
    </div>
    
    <!-- <div class="col-3"> 
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    
    <div class="col-3"> 
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div> -->

</div>

{% endblock %}